.cate_set .cate_set_item {
    background: #fff none repeat scroll 0 0;
    margin-right: 20px;
}
.cate_set_cont {
    border: 1px solid #f7f7f7;
}
.cate_search {
    border-bottom: 1px solid #f7f7f7;
    position: relative;
}
.cate_search input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.cate_search .cate_search_box {
    border: 0 none;
    height: 40px;
    line-height: 40px;
    padding: 2px 10px;
    width: 100%;
}
.cate_search a {
    color: #555;
    display: block;
    font-size: 18px;
    height: 45px;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 50px;
}
.cate_set_list {
    height: 500px;
    overflow-y: scroll;
}
.cate_set_list .add_cart_btn {
    border: 1px dashed #dfdfdf;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-indent: 10px;
}
a {
    color: #428bca;
    text-decoration: none;
}
.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    position: relative;
    top: 1px;
}
.cate_set_list .active {
    background: #f0f0f0 none repeat scroll 0 0;
}
.cate_set_list .cate_item:hover {
    background: #e3e4e8 none repeat scroll 0 0;
}
.cate_set_list .cate_item {
    cursor: pointer;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.cate_set_list .cate_item h4 {
    font-size: 16px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}
.cate_set_list .active .c_btns, .cate_set_list .cate_item:hover .c_btns {
    display: block;
}
.cate_set_list .cate_item .c_btns {
    border-radius: 50%;
    display: none;
    font-size: 16px;
    line-height: 25px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 15px;
}