<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task.xsd"
	default-autowire="byName" default-lazy-init="false">


	<description>Spring任务配置</description>
	<!-- 如下实现是通过线程池执行的 -->
	<task:executor id="executor" pool-size="10" />
	<task:scheduler id="scheduler" pool-size="10" />
	<!-- Spring定时器注解开关 -->
	<task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true" />
	<!-- <task:scheduled-tasks scheduler="myScheduler"> -->
	<!-- <task:scheduled ref="scheduledTaskController" method="ScheduledExport" cron="1/5 * * * * ?"/> -->
	<!-- </task:scheduled-tasks> -->
	<!-- <task:scheduler id="myScheduler" pool-size="10"/> -->

</beans>	