<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
	  http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- 引入CXF配置文件，低版本还需引入其他两个文件 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<!-- 低版本需要引入 -->
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<!-- <import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->


	<!-- 注意：serviceClass为接口类并非实现类 -->
	<jaxws:server serviceClass="com.infosky.webservice.IUser" address="/iuser"></jaxws:server>

	<!-- 注意：implementor为接口的具体实现类 实际项目不要用这种方式 -->
	<!-- <jaxws:endpoint id="user" implementor="com.infosky.webservice.impl.UserImpl" address="/user" /> -->

	<!-- 客户端调用 -->
	<!-- demo http://www.cnblogs.com/xiaochangwei/p/5400303.html -->
	<!-- <jaxws:client id="webServiceBean" serviceClass="webservice.server.Service" address="http://localhost:9999/service" /> -->

</beans>