.tips_top {
	display: none;
	position: absolute;
	top: 10px;
	margin: 0px auto;
	z-index: 1;
	text-align: center;
	color: red;
	width: 100%;
}

.form-wrap-tpl {
	border: 1px solid #efefef;
}

.form-tpl {
	margin: 5px;
}

/* white space */
.content-bottom {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 1px;
}

.form-info {
	display: table;
	width: 98%;
	width: calc(100% -   2px);
	margin: 0 auto;
}

.form-info1 {
	display: table;
	width: 100%;
	margin: 0 auto;
}

.form-info-blank {
	display: table;
	width: 98%;
	width: calc(100% -   24px);
	margin: 0 auto;
}

.form-info-row {
	display: table-row;
}

.form-info-name {
	text-align: right;
	padding: 6px 10px 6px 4px;
	font-weight: normal;
	color: #667E99;
	background-color: transparent;
	border-top: 1px dotted #D5E4F1;
	display: table-cell;
	width: 20%;
	vertical-align: middle;
}

.form-info-value {
	display: table-cell;
	padding: 6px 4px 6px 6px;
	border-top: 1px dotted #D5E4F1;
}

.form-toolbar {
	margin-top: 5px;
	text-align: right;
	margin-bottom: 5px;
}

.form-info-value>span+span:before {
	/* for a list of values (such as location city & country) put a comma between them */
	display: inline;
	content: ",";
	margin-left: 1px;
	margin-right: 3px;
	color: #666;
	border-bottom: 1px solid #FFF;
}

.form-info .form-info-value-error {
	position: relative;
}

.form-info .form-info-value-icon {
	position: absolute;
	top: 10px;
	margin-left: 10px;
}

.form-info-striped {
	border: 1px solid #DCEBF7;
}

.form-info-striped .form-info-name {
	color: #336199;
	background-color: #EDF3F4;
	border-top: 1px solid #F7FBFF;
}

.form-info-striped .form-info-value {
	border-top: 1px dotted #DCEBF7;
	padding-left: 12px;
}

/*查询form表单样式*/
.form-table>tbody>tr>td {
	border-top: 0px;
}

.form-table .form-table-label {
	width: 7%;
	text-align: right;
	padding-right: 10px;
	padding-top: 10px;
}

.form-table .form-table-input {
	width: 18%;
	text-align: left;
}

.list-img {
	width: 100px;
	height: 60px;
}

.view-img {
	width: 150px;
	height: 120px;
}